.vs/*
*.cache
*/bin/*
*/bin/Debug/*
*/bin/Release/*
*/obj/Debug/*
*/obj/Release/*
LiveDirectorySyncEngine/bin/*
LiveDirectorySyncEngine/bin/Debug/*
packages/*
*/obj/*
/LiveDirectorySyncEngineLogic/obj/project.assets.json
